@import "tailwindcss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
}

:root {
--red: 4 100% 67%;
--pink: 331 100% 50%;
--blue-800: 234 29% 20%;
--blue-700: 235 18% 26%;
--grey: 0 0% 58%;
--white: 0 0% 100%;

--ff-roboto: "Roboto", sans-serif;
--fs-100: 1rem;
}

body {
  font-family: var(--ff-roboto);
  color: hsl(var(--blue-800));
  font-size: var(--fs-100);
}

@layer components {
  .btn-primary {
    @apply relative text-white font-bold px-4 py-4 rounded-md overflow-hidden cursor-pointer;
    background: hsl(var(--blue-800));
  }

  .btn-primary::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, hsl(var(--pink)), hsl(var(--red)));
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .btn-primary:hover::before {
    opacity: 1;
  }

  .btn-primary span {
    position: relative;
    z-index: 1;
  }
}